.skillsBlock {
    background-color: darkseagreen;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: lightgrey;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .skillsBlock {
        min-height: 100vh;
    }

    .skills {
        justify-content: center;
    }
}